body{
    /*background-color: rgb(174, 236, 155);*/
    font-style: normal;
}
.container-fluid{
    margin: 20%;
    padding: 20%;
    height: 90%;
    width: 80%;
}
.centrar{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    }
.colum {
    width: 10%;
    }
footer{
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
        color: rgb(0, 0, 0);
        margin-bottom: 2%;
        }
h1{
    color: rgb(72, 70, 70);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
h2{
    color: rgb(77, 73, 73);
    text-align: center;
    margin-top: 5%;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
.navbarportafolio{
    background-color: #196619;
}
p{
    color: rgb(11, 7, 1);
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 20%;
    display: inline-block;
    text-align: justify;
}
.textcard{
    font-size: 90%;
    margin: 0%;
    color: rgb(57, 54, 54);
}
section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
    margin: 5px;
    padding: 3px;
}
.section2 {
    display: inline-flexbox;
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 5%;
    /* border: 2px solid rgb(11, 79, 24);*/
}

